<template name="Header">
  <img class="ui fluid image" src="/images/header-image.jpg"
       style="max-height: 300px">
  <div class="ui top borderless inverted menu"
       style="margin: 0px; border-radius: 0px; color:white; background-color: #E6052E">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}">
        <h1 style="color: white">Digits</h1></a>
      <a class="{{ isActiveRoute 'Add_Contact_Page'}} item"
         href="{{pathFor 'Add_Contact_Page'}}"
         style="color: white">Add Contact</a>
      {{#if currentUser}}
        <!--
        Some isActiveRoute page with a pathFor some loggedin-only content page(s)
         -->
      {{/if}}
      <a href="#" class="item"><p style="color: black">{{> loginButtons }}</p>
      </a>
    </div>
  </div>
</template>